# SERVER CONFIG
SERVER_PORT=
ALLOWED_ORIGINS=

# DATABASE CONFIG
DB_HOST=
DB_PORT=
DB_NAME=
DB_USERNAME=
DB_PASSWORD=

# SECURITY
# Genera una cadena aleatoria larga para el JWT_SECRET
JWT_SECRET=
JWT_EXPIRATION=

# AI / BIG DATA SERVICES (Opcional, dado tu perfil)
AI_SERVICE_URL=
API_KEY_DATA_ANALYTICS=...